body {
  font-family: "Georgia", serif;
  background-color: #fff9db;
  color: #a12c32;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
}

a {
  color:#a12c32;
  border: 2px solid #a12c32;
  border-radius: 5px;
  text-decoration:none;
  padding: 12px 24px;
  font-weight: bold;
}

a:hover {
  background-color: #a12c32;
  border: none;
  padding: 12px 24px;
  color: #fff9db;
}

main {
  text-align: justify;
}

h1 {
  text-align: center;
  color: #6d1b1b;
  margin-left: 30px;
}

h2 {
  color: #4a2c2a;
  margin-left: 25px;
}

h3 {
  color: #4a2c2a;
  margin-left: 20px;
}

h4 {
  color: #4a2c2a;
  margin-left: 15px;
}

h5 {
  color: #4a2c2a;
  margin-left: 10px;
}

h6 {
  text-align: center;
  color: #6d1b1b;
  margin-left: 5px;
}

.wine {
  background-color: #fff;
  padding: 15px;
  margin: 20px;
}

strong {
  color: #6d1b1b;
}

hr {
  color: #dbd5b6;
}
    
main {
  background-color:#e2ddc8;
  padding: 12px 24px;
}

figure {
  text-align: center;
}

.lista {
  text-align: start;
}

.galeria{
  text-align:center;
}
